html, body{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a {
	color:#409abd;
}
.table_head{
	background:#eee;
	font-weight:bold;
}
th{
	color: #409abd;
	text-align:left;
	font-size:15px;
}
.as_th{
	color: #409abd;
	text-align:left;
	font-size:15px;
}
th a{
	color: #409abd;
	text-align:left;
	font-size:15px;
	text-decoration:underline !important;
}
option {
	-moz-appearance:none !important;
}
.drow {
	background:#CCC;
	font-weight:bold;
}
.drow {
	background:#b0d8e8;
	font-weight:bold;
}
.oddrow{
	background:#ddd;
}
.even{
	background:#eee;
}
.title2{
	font-weight:bold;
}
select,input[type="text"] {
	width:250px;
}
td a,.tda{
	color:#7ab8d1;
	font-weight:bold;
}
h1{
	font-size:30px;
	margin:0px;
}
h2{
	color:#7ab8d1;
}
.paginat{
	font-size:16px;
	font-weight:bold;
	color:#409abd;
}
.header_panel{
	background-color:#7ab8d1;
	color:#FFF;
	text-align: center;
	padding: 10px;
}
.left_panel{
	margin-top:20px;
	position: absolute;
	width:250px;
}
.main_panel{
	position: relative;
	margin-top:20px;	
	margin-left:280px;
	width: auto;
}
.button{
    background-color: #409abd;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease 0s;
    white-space: nowrap;
    width: 170px !important;	
}
.module_head{
	border:1px solid #333;
}
.ibutton{
	background: none repeat scroll 0 0 #409abd;
	font-size:16px;
	border-radius: 5px;
    color: #fff;
	border:1px solid #333;
	padding: 5px;
	font-weight:bold;
	cursor:pointer;
}
.ibutton:active{
  margin:0;
  padding: 5px;
  padding-left:8px;
  padding-right:2px
}
#alert{
	position:absolute;
	padding:0;
	margin:0;
	color:#F00;
	font-size:14px;
	font-weight:bold;
	animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 2s steps(5, start) infinite;
}
#alert a{
	color:#F00;
}
@keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
#filtr{
	color: #409abd;
}
.mini_header{
	background-color: #7ab8d1;
    color: #fff;
    height: 22px;
    padding-left: 5px;
    padding-top: 7px;
}
.form_text {
border : 1px solid #ccc;
background-color : #FFFFFF;
height : 17px;
}
.form_list {
border : 1px solid #ccc;
background-color : #FFFFFF;
width : 70px;
height : 18px;
}
.form_list1 {
border : 1px solid #ccc;
background-color : #FFFFFF;
width : 140px;
height : 18px;
}
.form_list2 {
border : 1px solid #ccc;
background-color : #FFFFFF;
width : 100px;
height : 18px;
}
.form_list3 {
border : 1px solid #ccc;
background-color : #FFFFFF;
width : 45px;
height : 18px;
}
.form_text_area {
border : 1px solid #ccc;
background-color : #FFFFFF;
width : 450px;
height : 50px;
}
.table{
	width:340px;
	clear:both;
	display: inline-block;
}
.row_title{
	font-size: 18px;
	text-align: center;
	position: absolute;
	top: 0;
	margin-left: 40px;
	margin-top: -30px;
}
.rowhead {
	border-bottom:1px #000000 solid;
	display: inline-block;
}
.row2 {
	width:100%;
	clear:both;
}
.row2 .col2 {
	width:33%;
	float:left;
	padding:3px;
}
.row2 .col1 {
	width:51%;
	float:left;
	font-weight:bold;
	margin-right:10px;
	padding:3px;
}

.row3 {
	width:100%;
	clear:both;
}
.row3 .col3 {
	width:18%;
	float:left;
	padding:3px;
}
.row3 .col2 {
	width:18%;
	float:left;
	padding:3px;
}
.row3 .col1 {
	width:56%;
	float:left;
	font-weight:bold;
	margin-right:10px;
	padding:3px;
}
.clear{
	clear:both;
}